
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <style type="text/css">
            table{border-collapse:collapse}
            th,td{border:1px solid black;width:170px;height:35px}
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>